*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    height: 150%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg,rgba(5,47,96,1) 1%, rgba(5,12,33,1) 42%, rgba(73,30,73,1) 100%);
    background-repeat: no-repeat;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

main{
    width: 100%;
    max-width: 520px;

    padding: 0 20px;
    margin-left: 35%;
    margin-right: 15%
}
input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background: #262626;
}
textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background: #262626;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background: #262626;
}

input[type="checkbox"].switch{
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 35px;
  height: 15px;
  background: #5c5c5c;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  input[type="checkbox"].switch:checked{
  background: #ef6eae;
  }

  input[type="checkbox"].switch:after{
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 2.5px rgba(0,0,0,.3);
          box-shadow: 0 0 2.5px rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
          transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  input[type="checkbox"].switch:checked:after{
  left: calc(100% - 15px);
  }


.button-grad {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.button-grad:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-grad:active {
  color: #000;
}

.button-grad:active:after {
  background: transparent;
}

.button-grad:hover:before {
  opacity: 1;
}

h1 {
    padding-top: 10px;
}
.button-grad:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
button{
    width: 100%;
    height: 35px;
    cursor: pointer;
}
hr{
border-top: 1px solid #ccc;
margin-top: 10px;
margin-bottom:10px;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
        border-top: 1px solid #ccc;
}

.task:last-child{
    border-top: 1px solid #ccc;
}

a{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration:none;
    border-radius: 4px;

    padding: 10px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    transition: all 0.5s ease 0s;
}
a:hover{
    box-shadow: rgb(80 63 205 / 70%) 0px 1px 20px;
    transition: all 0.3s ease 0s;
}


select {
  background-color: #5c5c5c;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}

footer {
    align-items: center;
   width:100%;
}
input[type="date"] {
  background: transparent;
  color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}