{% extends 'base.html' %}

{% block content %}

{% for todo in todos %}

<div class="gallery">
  <a target="_blank" href="/choose/{{ todo_id }}/?image={{ todo.image }}">
    <img src="{{ todo.image }}" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">{{ todo.title }}</div>
</div>

{% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}