{% extends 'base.html' %}

{% block content %}



    <br>
    <h2>Импортированные файлы</h2>
        <hr>
        <table>
    {% for t in table %}
        <tr>
        {% for i in t %}
            <td>{{ i }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
     </table>

    <div>

        {% for name in imported %}
            <h4> {{ name }}:</h4>
        {% endfor %}
    </div>
    <hr>


{% endblock content %}