{% extends 'base.html' %}

{% block content %}



    <br>
    <h2>Задачи</h2>
        <hr>
        <table>
    {% for t in table %}
        <tr>
        {% for i in t %}
            <td>{{ i }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
     </table>
<div>
    <small style="display: inline-block;">
Фильтрация:
<form action="/filter{{ tag_name }}">
<select name="tag" onchange="this.form.submit()">
        <option selected>Фильтр</option>
        {% for tag in tags %}
        <option
            value={{ tag.value }} >
            {{ tag.value }}
            {% set tag_name = tag.value %}
        </option>
        {% endfor %}
</select>
</form>
    </small>
<small style="display: inline-block; float: right;">
<form method="get" action="/datefilter{{ date }}">
    <p>Выберите дату</p>
   <label for="date"></label>
   <input type="date" name="date" id="date"
    min="2020-01-01">
   <input type="submit" class="button-grad" value="Отправить">
  </form>
</small>
</div>
    <div>

        <br>

        <br>
        {% for name, titles in fullnames.items() %}
            {% if titles != [] %}
            <h4> {{ name }}:</h4>
            {% for todo in titles %}
                <div class="task">
                    {% if todo.completed %}
                        <strike>{{ todo.title }}</strike>
                    {% else %}
                        {{ todo.title }}
                    {% endif %}
                    <small>
                        <a class="pulse" href="edit/{{ todo.id }}?token={{ token }}">Редактировать</a>
                        <a class="pulse" href="delete/{{ todo.id }}?token={{ token }}">Удалить</a>
                        <form action="complete/{{ todo.id }}?token={{ token }}">
                            {% if todo.completed %}
                                <button class="button-grad" type="submit"> Выполнено</button>
                            {% endif %}
                            {% if  not todo.completed %}
                                <button class="button-grad" type="submit"> Не выполнено</button>
                            {% endif %}
                        </form>
                    </small>
                </div>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    <hr>
    <div>

        <form action="/delete_all" method="post" onsubmit="return confirm('Вы уверены?')" >
            <button class="button-grad" type="submit" >Удалить всё</button>
        </form>
    </div>
   <div>
</div>

    <form>
        Страницы:
        {% for i in range(pages)%}
            <a rel={{ i + 1 }}
                    {% if (i)==page%}style="color:red;"{% endif %}
                    href="/list?max={{ max }}&skip={{i}}&token={{ token }}" > {{ i + 1}}</a>
        {% endfor %}
    </div>
    </form>

{% endblock content %}