{% extends 'base.html' %}
{% block content %}
    <!--div>
        <form action="/register" method="post">
            <h1>Регистрация</h1>
            {% if tkn == 0 %}
            <p style="color:red;">Данный пользователь уже существует</p>
            {% endif %}
            <input style="margin-bottom:5px; width: 260px" required name="username" id="username" placeholder="Логин"> <br>
            <input style="margin-bottom:5px; width: 260px" required name="password" id="password" type="password" placeholder="Пароль"><br>
            <button class="button-grad" style="margin-bottom:5px; width: 260px; display: inline-block" type="submit">Зарегистрироваться</button>
        </form>
    </div-->
{% endblock content %}