{% extends 'base.html' %}

{% block content %}

<div>
    <h2>Визуалиация:</h2>
    <br>
    <img src="{{ url_for('static', path='images/out.png') }}" height="400px" width="400px">
</div>

{% endblock content %}